{% extends 'base.html.twig' %}

{% block title %}Ecriture d'un article{% endblock %}

{% block body %}
    <h1>Nouvel article</h1>

    <fieldset>
        {{ form_start(form) }}
        <div class="row">
            <div class="col-12">
                {{ form_label(form.title) }}
                {{ form_widget(form.title) }}
                {{ form_errors(form.title) }}
            </div>
            <div class="col-12">
                {{ form_label(form.image_url) }}
                {{ form_widget(form.image_url) }}
            </div>
            <div class="col-12">
                {{ form_label(form.content) }}
                {{ form_widget(form.content) }}
            </div>
        </div>
        <button class="btn btn-success">Créer l'article !</button>
        {{ form_end(form) }}
    </fieldset>

    <a class="btn btn-info" href="{{ path('home') }}">Page d'accueil</a>
{% endblock %}